﻿@model polsol.cc.Models.Company

<dt>
    @Html.DisplayNameFor(model => model.Name)
</dt>
<dd>
    @Html.DisplayFor(model => model.Name)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.PhoneNumber)
</dt>
<dd>
    @Html.DisplayFor(model => model.FormattedPhoneNumber)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Catagory)
</dt>
<dd>
    @Html.DisplayFor(model => model.Catagory)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Contacts)
</dt>
    
