﻿@model polsol.cc.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h2>Company Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.Partial("_CompanyDetails.cshtml", Model)
        <dd>
            <table class="table">
                <tr>
                    <th>
                        <a asp-action="Details" asp-route-id="@Model.ID" asp-route-sortOrder="@ViewData["FirstNameSortParm"]">First Name</a>
                    </th>
                    <th>
                        <a asp-action="Details" asp-route-id="@Model.ID" asp-route-sortOrder="@ViewData["LastNameSortParm"]">Last Name</a>
                    </th>
                </tr>
                @foreach (var item in Model.Contacts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-area="" asp-controller="Contacts" asp-action="Create" asp-route-companyId="@Model.ID">Create New Contact</a> |
    <a asp-action="Index">Back to List</a>
</div>
