﻿@model IEnumerable<polsol.cc.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2>Company Master List</h2>
<form asp-action="Index" method="get">
    <p>
        <div class="btn-toolbar" role="toolbar" aria-label="Company Toolbar">
            <div class="btn-group" role="group" aria-label="First group">
                <input type="submit" asp-action="Create" value="Create" class="btn btn-default" />
            </div>
            <div class="btn-group" role="group" aria-label="Second group" id="company-edit-btn-group">
                <input type="submit" asp-action="Edit" value="Edit" class="btn btn-default" disabled="disabled"/>
                <input type="submit" asp-action="Details" value="Detail" class="btn btn-default"  disabled="disabled" />
                <input type="submit" asp-action="Delete" value="Delete" class="btn btn-default"  disabled="disabled"/>
            </div>
        </div>
    </p>
    <div class="form-actions no-color">
        <p>
            Find by phone number: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table" id="company-table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CatSortParm"]">@Html.DisplayNameFor(model => model.Catagory)</a>
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr data-id="@item.ID">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catagory)
            </td>
        </tr>
}
    </tbody>
</table>
