﻿@model polsol.cc.Models.Contact

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Contact</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    @Html.Partial("_ContactDetail.cshtml", Model)
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
