﻿@model polsol.cc.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h2>Contact Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    @Html.Partial("_ContactDetail.cshtml", Model)
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
