﻿@model IEnumerable<polsol.cc.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h2>Contact Master List</h2>
<form asp-action="Index" method="get">
    <p>
        <div class="btn-toolbar" role="toolbar" aria-label="Contact Toolbar">
            <div class="btn-group" role="group" aria-label="First group">
                <input type="submit" asp-action="Create" value="Create" class="btn btn-default" />
            </div>
            <div class="btn-group" role="group" aria-label="Second group" id="contact-edit-btn-group">
                <input type="submit" asp-action="Edit" value="Edit" class="btn btn-default" disabled="disabled" />
                <input type="submit" asp-action="Details" value="Detail" class="btn btn-default" disabled="disabled" />
                <input type="submit" asp-action="Delete" value="Delete" class="btn btn-default" disabled="disabled" />
            </div>
        </div>
    </p>
</form>
    <table class="table" id="contact-table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParm"]">@Html.DisplayNameFor(model => model.FirstName)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParm"]">@Html.DisplayNameFor(model => model.LastName)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CompSortParm"]">@Html.DisplayNameFor(model => model.Company)</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@item.ID">
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
