﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Scope &amp; Features</h2>
        <ul>
            <li>Simple company and contact management (browse, categorize, search)</li>
            <li>Centrilized storage location</li>
            <li>Leverage the .NET platform</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework Core</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            <li>Javascript library used is JQuery</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Requirements</h2>
        <ul>
            <li>browse companies in the database</li>
            <li>browse contacts for a company</li>
            <li>add, edit, delete company</li>
            <li>search for company by phone number</li>
            <li>categorize companies</li>
            <li>add, edit, delete contact</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li>This application is using LocalDB as the backend.  If you'd like to start over just find the .MDF file in you c:/windows/user directory</li>
        </ul>
    </div>
</div>
